@use '../../App.scss' as g;

.btn {
    min-width: 100px;
    text-align: center;
    padding: 0 24px;
    color: g.$main-color2;
    display: inline-block;

    &.xsmall {
        line-height: 24px;
        height: 24px;
        font-size: 14px;
    }

    &.small {
        height: 32px;
        font-size: 16px;
    }

    &.middle {
        height: 40px;
        line-height: 40px;
        min-width: 136px;
        font-size: 16px;
    }

    &.large {
        height: 64px;
        font-size: 24px;
    }

    &.primary {
        background-color: g.$main-color1;
    }

    &.secondary {
        background-color: g.$percent-color;
    }

    &.outline {
        color: g.$main-color1;
        border: 1px solid g.$main-color1;
    }

    &.wFull {
        width: 100%;
        display: block;
    }
}

input[type="text"] {
    border: 1px solid #f2f2f2;
    background: #f2f2f2;
    font-size: 1.6rem;
    padding: 0 20px;
    color: g.$sub-color3;

    &:focus {
        border: 1px solid g.$main-color1;
    }

    &::placeholder {
        color: g.$sub-color2;
    }
}

input[type="checkbox"] {
  -webkit-appearance: none; /* 크롬, 사파리 등 호환 */
  appearance: none;
  /* 커스텀 디자인 */
  width: 16px;
  height: 16px;
  border: 1px solid g.$sub-color2;
  border-radius: 2px;
  background-color: white;
  cursor: pointer;
  position: relative;
}

/* 체크되었을 때*/
input[type="checkbox"]:checked {
  background-color: g.$main-color1;
  border:1px solid g.$main-color1;
}

/* 체크 표시(✔) */
input[type="checkbox"]:checked::after {
  content: '✔';
  color: white;
  font-size: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1;
}