@use "../../App.scss" as g;

.cart-popup-wrap {
    position: fixed;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    backdrop-filter: blur(4px);
    z-index: 1000;

    .cart-popup {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background: #fff;
        padding: 40px;
    }
}