@use "../../App.scss" as g;

.cart-item-list-wrap {

  .cart-item-list {
    display: flex;
    flex-direction: column;

    .cart-item {

      .cart-item-inner {
        display: flex;

        .item-left {
          display: flex;

          .checkbox {
            width: 1.6rem;
            height: 1.6rem;
            aspect-ratio: 1/1;
            border: 1px solid g.$sub-color3;
            border-radius: 2px;

            .check {
              display: none;

              &.active {
                width: 1.2rem;
                display: block;
              }
            }
          }

          .item-img-box{
            width: 180px;
            
          }
        }

        .item-right{
          display: flex;

        }

        .del-icon{
          width: 2rem;
          height: 2rem;

        }
      }
    }
  }
}