@use "../../App.scss" as global;

header {
    position: sticky;
    top: 0;
    background-color: global.$main-color1;
    height: 80px;
    line-height: 80px;
    z-index: 100;

    .header-inner {
        
        margin: 0 auto;
        max-width: 1440px;
        @include global.myFlex();

        .inner-left {
            @include global.myFlex($gap: 80px);

            h1 {
                img {
                    width: 200px;
                    height: 25px;
                }
            }

            a {
                word-break: keep-all;
            }

            nav {
                z-index: 10;

                .main-menu {
                    @include global.myFlex($gap: 68px);
                    display: flex;
                    gap: 72px;
                    height: 80px;


                    &:hover {
                        .sub-menu {
                            display: block;

                            a {
                                opacity: 0.7;
                            }
                        }

                        &:after {
                            height: 140px;
                        }

                    }

                    &:after {
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 80px;
                        width: 100%;
                        height: 0;
                        background: global.$main-color1;
                        opacity: 0.6;
                        transition: 0.2s;
                    }

                    >li {
                        position: relative;
                        color: global.$main-color2;
                        font-size: 18px;
                        line-height: 2;
                    }

                    >a {
                        color: global.$main-color2;
                        font-weight: border;
                        font-size: 1.6rem;
                    }
                }

                .sub-menu {
                    display: none;
                    z-index: 1;
                    position: absolute;
                    top: 58px;
                    left: 50%;
                    transform: translateX(-50%);
                    width: max-content;
                    line-height: 2.4rem;

                    >li {
                        >a {
                            color: global.$main-color2;
                            font-size: 1.4rem;
                            font-weight: 300;
                            opacity: 0;
                        }
                    }
                }
            }

        }

        .inner-right {
            .gnb-list {
                @include global.myFlex($gap: 40px);
                line-height: 2.4rem;

                color: global.$main-color2;
                font-size: 1.4rem;

                a {
                    display: block;
                    color: inherit;
                }

                img {
                    width: 24px;
                    height: 24px;
                }
            }
        }
    }
}