@use "../../App.scss" as global;

header {
    background-color: global.$main-color1;
    height: 80px;
    line-height: 80px;

    .inner {
        margin: 0 auto;
        max-width: 1440px;
        @include global.myFlex();

        .inner-left {
            @include global.myFlex($gap: 80px);
            h1 {
                img {
                    width: 200px;
                    height: 25px;
                }
            }

            nav {
                .main-menu {
                    @include global.myFlex($gap: 68px);
                    display: flex;
                    gap: 72px;

                    &:after {
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 80px;
                        width: 100%;
                        height: 140px;
                        background: global.$main-color1;
                        opacity: 0.6;
                    }

                    >li {
                        position: relative;
                        color: global.$main-color2;
                        font-size: 18px;
                        line-height: 2;
                    }

                    >a {
                        color: global.$main-color2;
                        font-weight: border;
                        font-size: 16px;
                    }
                }

                .sub-menu {
                    z-index: 100;
                    position: absolute;
                    top: 58px;
                    left: 50%;
                    transform: translateX(-50%);
                    width: max-content;
                    line-height: 24px;

                    >li {
                        >a {
                            color: global.$main-color2;
                            font-size: 14px;
                            font-weight: normal;
                        }
                    }
                }
            }

        }

        .inner-right {
            .gnb-list {
                @include global.myFlex($gap: 40px);
                line-height: 24px;

                color: global.$main-color2;
                font-size: 1.4rem;
                a {
                    display: block;
                    color: inherit;
                }

                img {
                    width: 24px;
                    height: 24px;
                }
            }
        }
    }
}