.container{
  .review-box-list{
    display: flex;
    justify-content: space-between;
    gap: 66px;
    height: 340px;

    .review-box{
      display: flex;
      justify-content: space-between;
      gap: 20px;
      width: 100%;
    
      .img-box{
        width: 100%;

        img{
          object-fit: cover;
          width: 100%;
        }
      }
      .review-item-box{
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
        padding: 42px 0 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;

        .item-top{
          display: flex;
          flex-direction: column;
          gap: 8px;

          .brand-name{
            font-size: 16px;
            font-family: 'Times New Roman', Times, serif;
            color: #bababa;
          }
          .review-text{
            font-size: 16px;
            word-break:keep-all;
          }
        }
        .item-bottom{
          display: flex;
          flex-direction: column;
          gap: 8px;

          .product-name{
            font-size: 16px;
            word-break:keep-all;
          }
          .rating-box{
            display: flex;
            align-items: center;
            gap: 10px;

            span{
              font-size: 16px;
            }
            .stars{
              display: flex;
              align-items: center;
              gap: 2px;
              
              .star-icon{
                width: 16px;
                height: 16px;
                object-fit: contain;
              }
            }
          }
        }
      }
    }
  }
}
