.main-sec-inner{
  display: flex;
  gap: 122px;
  justify-content: space-between;

  .sec-inner-left{
    .section-title{
      font-size: 54px;
      text-align: start;
      margin-bottom: 88px;
    }
    .ranking-item-wrap{
      width: 100%;

      .ranking-item{
        button{
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          border-bottom: 1px solid #000;
          width: 100%;
          gap: 40px;
          padding-left: 50px;
          padding-bottom: 30px;
        }
        ul{
          display: flex;
          gap: 6px;
          flex:1;
          
          li{
            width: 114px;
            height: 170px;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            
            a{
              .brand-title{
                display: flex;
                justify-content: center;
                align-items: flex-end;
                height: 100%;
                font-size: 12px;
                text-align: center;
                color: #fff;
              }
            }
          }
        }
      }
    }
  }
  .sec-inner-right{
    display: flex;
    justify-content: space-between;
    gap:30px;
    border: 1px solid red;
    width:100%;

    .kwr-main-img{
      background-size: cover;
      background-repeat: no-repeat;
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
      border: 1px solid blue;
    }
    .kwr-sub-img-wrap{
      width: 100%;
      border: 1px solid green;
      display: grid;
      grid-template-columns: repeat(2,1fr);
      gap: 20px 30px;

      .kwr-sub-img{
        background-size: cover;
      }
    }
  }
}