.container{
  .review-box-list{
    display: flex;
    justify-content: space-between;
    gap: 66px;
    height: 340px;

    .review-box{
      display: flex;
      justify-content: space-between;
      gap: 20px;
      // width: 100%;
    
      .img-box{
        width: 100%;

        img{
          object-fit: cover;
          width: 100%;
        }
      }
      .review-item-box{
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
        padding: 42px 0 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;

        .item-top{
          display: flex;
          flex-direction: column;
          gap: 8px;

          .brand-name{
            font-size: 16px;
            font-family: 'Times New Roman', Times, serif;
            color: #bababa;
          }
          .review-text{
            font-size: 16px;
          }
        }
        .item-bottom{
          display: flex;
          flex-direction: column;
          gap: 8px;

          .product-name{
            font-size: 16px;
          }
          .rating-box{
            span{
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}
.more-btn-wrap{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-top: 30px;

  .more-btn{
    padding: 10px;
    font-size: 14px;
    display: flex;
    align-items: center;

    &::after{
      content:"";
      background-image: url("../../../public/images/arrow-right-thin.svg");
      display: inline-block;
      background-size: contain;
      width: 8px;
      height: 8px;
      margin: 6px;
    }
  }
}