.main-sec-inner{
  display: flex;
  gap: 122px;
  justify-content: space-between;

  .sec-inner-left{
    .section-title{
      font-size: 54px;
      text-align: start;
      margin-bottom: 88px;
    }
    .ranking-item-wrap{
      width: 100%;

      .ranking-item{
        button{
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          border-bottom: 1px solid #000;
          width: 100%;
          gap: 40px;
          padding-bottom: 30px;
          font-size: 16px;

          span{
            font-family: 'Times New Roman', Times, serif;
            font-size: 16px;
          }
        }
        ul{
          display: flex;
          gap: 6px;
          flex:1;
          
          .rank-item{
            width: 114px;
            height: 170px;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            cursor: pointer;
            
            .brand-title{
              display: flex;
              justify-content: center;
              align-items: flex-end;
              height: 100%;
              font-size: 12px;
              text-align: center;
              color: #fff;
            }
          }
        }
      }
    }
  }
  .sec-inner-right{
    display: flex;
    justify-content: space-between;
    gap:30px;
    width:100%;

    .kwr-main-img{
      background-size: cover;
      background-repeat: no-repeat;
      width: 100%;
      cursor: pointer;

      .kwr-main-text-wrap{
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;

        &:hover{
          opacity: 1;
          transition: 0.5s;
        }

        .kwr-main-text{

          .item-brand{
            font-size: 18px;
            color: #fff;
            margin-bottom: 20px;
          }
          .item-title{
            font-size: 20px;
            font-weight: 500;
            color: #fff;
          }
        }
      }
    }
    .kwr-sub-img-wrap{
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2,1fr);
      gap: 20px 30px;

      .showing-khsn{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;

        .top-item{
          display: flex;
          flex-direction: column;
          gap: 10px;
          width: 100%;

          .khsn-title{
            width: 100%;
            text-align: start;
            font-size: 20px;
          }
          .khsn-item{
            width: 100%;
            text-align: center;
            font-size: 16px;
          }
        }
        .more-btn{
          display: flex;
          align-items: center;
          gap: 6px;
          padding: 10px;
          font-size: 14px;

          &::after{
            content: "";
            display: inline-block;
            width: 8px;
            height: 8px;
            background-image: url("../../../public/images/arrow-right-thin.svg");
            background-size: cover;
          }
        }
      }

      .kwr-sub-img{
        background-size: cover;
        background-position: center;
        cursor: pointer;

        .kwr-sub-text-wrap{
          width: 100%;
          height: 100%;
          background-color: rgba(0,0,0,0.5);
          display: flex;
          justify-content: center;
          align-items: center;
          opacity: 0;

          &:hover{
            opacity: 1;
            transition: 0.5s;
          }
          .kwr-sub-text{
            .brand{
              font-size: 18px;
              color: #fff;
              word-break: keep-all;
              text-align: center;
              margin-bottom: 20px;
            }
            .title{
              font-size: 20px;
              font-weight: 500;
              word-break: keep-all;
              text-align: center;
              color: #fff;
            }
          }
        }
      }
    }
  }
}