.login-wrap {
  width: 100%;
  // background: green;
  .input-wrap {
    // background: blue;
    input {
      display: flex;
      gap: 10px;
      height: 60px;
      width: 100%;
      font-size: 16px;
      text-indent: 25px;
      color: #bababa;
      border: none;
      background: #f2f2f2;
      &:first-of-type {
        margin-bottom: 10px;
      }
    }
  }
  .idTag {
    display: flex;
    justify-content: space-between;
    margin: 10px 0 20px;
    color: #bababa;
    font-size: 14px;
    font-weight: 400;
    .findIdPw {
      display: flex;
      gap: 6px;
      .findPw::before {
        content: '|';
        margin-right: 6px;
      }
    }
  }
  .button-grid-wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    button {
      height: 45px;
      border: none;
      &:first-of-type {
        grid-column: 1/3;
        background: black;
        color: white;
      }
      &:last-of-type,
      &:nth-of-type(2) {
        background: white;
        border: 1px solid black;
        color: black;
      }
    }
  }
}
