.no-member-wrap {
  width: 100%;
  .noMember-login {
    display: flex;
    flex-direction: column;
    gap: 10px;
    input {
      height: 60px;
      width: 100%;
      font-size: 1.6rem;
      text-indent: 25px;
      color: #bababa;
      border: none;
      background: #f2f2f2;
    }
    button {
      margin-top: 10px;
      font-size: 1.6rem;
      display: block;
      width: 100%;
      height: 50px;
      border: none;
      background: black;
      color: white;
    }
    P {
      color: rgba($color: #000000, $alpha: 0.3);
      font-size: 1.4rem;
    }
  }
}
