@use "../../App.scss" as g;

.pay-method-wrap {
  display: flex;
  justify-content: flex-start;
  gap: 3rem;

  .pay-method {
    display: flex;
    flex-direction: column;
    

    .method1 {
      display: flex;
      justify-content: space-between;
      padding: 1rem 2rem;
      border: 1px solid g.$sub-color2;

      span{
        font-size: 1.4rem;
        font-weight: 400;
      }
      img{
        width: 1.6rem;
        height: 1.6rem;
      }
    }

    .methodDepth1{
      padding: 1rem 2rem;

    }
  }
}