.menu-list-wrap{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;

  h2{
    font-size: 24px;
	  font-weight: 500;
    display: flex;
    padding: 20px 10px;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
  }

  .menu-list{

    button{
      font-size: 16px;
      font-weight: 700;
      display:flex;
      justify-content: flex-start;
      padding: 0 10px 20px;
      color: #838383;
    }

    ul{
      display: flex;
      padding: 0 20px;
      flex-direction: column;

      li{
        font-size: 14px;
        display: flex;
        justify-content: flex-start;
        padding: 0 10px 10px;
        color: #BABABA;
      }
    }
  }
}