.menu-list-wrap{
  h2{
    font-size: 40px;
	  font-style: normal;
	  font-weight: 400;
    padding: 2rem 10px;
    width: 100%;
  }

  .menu-list{
    width: 100%;
    height: 100%;

    button{
      font-size: 1.6rem;
      font-weight: bold;
      padding: 0 10px 2rem;
      color: #838383;
    }
    ul{
      li{
        font-size: 1.4rem;
        padding: 0 10px 10px;
        color: #BABABA;
      }
    }
  }
}