.menu-list-wrap{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;

  h2{
    font-size: 40px;
	  font-style: normal;
	  font-weight: 400;
    padding: 2rem 10px;
    width: 100%;
  }

  .menu-list{

    button{
      font-size: 1.6rem;
      font-weight: bold;
      padding: 0 10px 2rem;
      color: #838383;
    }

    ul{
      display: flex;
      padding: 0 20px;
      flex-direction: column;

      li{
        font-size: 1.4rem;
        padding: 0 10px 10px;
        color: #BABABA;
      }
    }
  }
}