@use "../../App.scss" as g;

.sub-page {

  .inner {

    &.cart {
      display: flex;
      flex-direction: column;

      .cart-inner-top {
        display: flex;
        flex-direction: column;
        gap: 3.5rem;

        .cart-inner-title {

          .sub-page-title {
            color: g.$main-color1;
            font-size: 4rem;
            font-weight: 500;

          }
        }

        .cart-inner-content {
          display: flex;
          justify-content: space-between;          

          .cart-inner-left {
            border: 1px solid g.$sub-color2;
            width: 70%;
            padding: 2.5rem 5rem;
          }

          .cart-inner-right {
            border: 1px solid g.$sub-color2;
            width: 25%;
            height: 30%;
            padding: 5rem 4rem;
          }
        }
      }

      .cart-inner-bottom {
        display: flex;
        justify-content: space-between;


      }
    }
  }
}