@use '../../App.scss' as g;

.main-content {
    margin: 130px 0;
    display: flex;
    flex-direction: column;
    gap: 220px;
    section {
        h2 {
            color: g.$main-color1;
            text-align: center;
            font-family: "Times New Roman";
            font-size: 5.4rem;
            font-weight: 400;
        }
    }
}