@use '../../App.scss' as g;

.sub-page {
  .nonmember-inner {
    margin: 130px auto 280px;
    max-width: 1700px;
    background: rgba(255, 0, 0, 0.1);

    .sub-page-title {
      font-size: 40px;
      font-weight: 500;
      margin-bottom: 50px;
    }

    .nonmember-wrap {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 70px;

      .sub-inner-left {
        border: 1px solid #ccc;
        width: 100%;
        .sub-inner-left-top {
          display: flex;
          justify-content: space-between;
          padding: 40px;

          // 공통: 주문자 정보 & 배송지 정보
          .sub-order-inf,
          .sub-address-inf {
            width: 50%;

            p {
              font-size: 16px;
              color: g.$sub-color3;
              border-bottom: 1px solid g.$sub-color2;
              padding-bottom: 20px;
              margin-bottom: 30px;
            }

            form {
              display: flex;
              flex-direction: column;
              gap: 24px;

              label {
                display: flex;
                justify-content: space-between;
                gap: 34px;
                align-items: center;

                span {
                  display: block;
                  width: 122px;
                  font-size: 16px;
                  font-weight: 400;
                }

                input {
                  width: 100%;
                  height: 40px;
                }
              }
            }
          }

          // 주문자 정보 전용
          .sub-order-inf form {
            padding-right: 25px;
          }

          // 배송지 정보 전용
          .sub-address-inf form {
            padding-left: 25px;

            // 주소 입력 라벨
            .address-label {
              align-items: baseline;
              display: flex;
              justify-content: space-between;
              flex-direction: row;

              span {
                width: 122px;
              }

              div {
                display: flex;
                flex-direction: column;
                gap: 10px;
                width: 100%;

                .add-inf-inner-top {
                  display: flex;
                  flex-direction: row;
                  gap: 10px;
                  flex-wrap: nowrap;

                  input {
                    flex: 1;
                  }

                  button {
                    width: 100px;
                    border: 1px solid black;
                    background: white;
                    cursor: pointer;

                    &:hover {
                      background: g.$main-color1;
                      color: #fff;
                    }
                  }
                }
              }
            }
          }
        }
      }

      .order-item {
        p {
          font-size: 18px;
          font-weight: 500;
          text-align: center;
          color: g.$main-color1;
        }
      }

      .sub-inner-right {
        // position: absolute;
        right: 0;

        p {
          font-size: 18px;
          font-weight: 500;
          color: g.$main-color1;
        }
      }
    }

    input {
      text-indent: 10px;
      color: g.$main-color1;
      background: g.$main-color2;
    }
  }
}
