@use '../../App.scss' as g;

.product-detail-wrap {
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;
    max-width: 1440px;

    @include g.myFlex($gap: 2rem, $ai: flex-start);

    h3 {
        margin-bottom: 40px;
        color: g.$main-color1;
        font-size: 24px;
        font-weight: 500;
    }

    .detail-left {
        margin-top: 4rem;
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 40px;
        max-width: 980px;

        .product-detail-slide {

            img {
                max-width: 100%;
            }
        }

        .product-notice-info {
            display: flex;
            flex-direction: column;
            gap: 2rem;

            >li {
                @include g.myFlex($gap: 0);
                display: flex;
                font-size: 1.4rem;

                strong {
                    color: g.$sub-color3;
                    width: 180px;
                }

                span {
                    color: g.$sub-color2;
                    flex: 1;
                }
            }
        }
    }

    .detail-right {
        position: sticky;
        top: 120px;
        min-width: 380px;
        width: 380px;
    }
}