@use '../../App.scss' as g;

.product-list-wrap {
  display: flex;
  flex-direction: column;
  gap: 80px;
  max-width: 1720px;
  margin: 0 auto;
  padding: 0 20px;
}
.product-filter-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // height: 74px;
  padding-top: 20px;
  border-top: 1px solid black;
  .product-filter-top-l {
    font-size: 2rem;
  }
  .product-filter-top-filter {
    // background: red;
    padding: 10px 20px;
    font-size: 20px;
    position: relative;
    .product-filter-top-r {
      ul {
        width: 100%;
        background: white;
        border: 1px solid #bababa;
        position: absolute;
        display: none;
        flex-direction: row;
        gap: 10px;
        border-radius: 2px;
        padding: 10px;
        top: 40px;
        left: 0px;
        &.active {
          display: block;
        }
        li {
          line-height: 2;
        }
      }
    }
  }
}
.product-filter-bot {
  border: 1px solid #bababa;
  padding: 20px;
  // height: 170px;
  .product-filter-bot-t {
    display: flex;
    flex-direction: row;
    gap: 25px;
    // padding-bottom: 10px;
    font-size: 14px;
    color: #838383;
    border-bottom: 1px solid #838383;
    li {
      padding: 0px 14px 10px 14px;
      // background: red;
      &.active {
        color: black;
        border-bottom: 1px solid black;
      }
    }
  }
  .product-filter-bot-b {
    height: 124px;
    padding-top: 14px;
    .brand-label,
    .country-label {
      display: flex;
      gap: 14px;
      flex-wrap: wrap;
      align-items: center;
      > label {
        display: flex;
        flex-direction: row-reverse;
        gap: 4px;
        font-size: 14px;
      }
    }
  }
  .price-label {
    display: flex;
    flex-direction: column;
    gap: 14px;
    .price-tag-t {
      display: flex;
      flex-direction: row;
      gap: 20px;
      p {
        label {
          font-size: 14px;
          display: flex;
          flex-direction: row-reverse;
          gap: 4px;
        }
      }
    }
    .price-tag-b {
      display: flex;
      align-items: center;
      gap: 4px;
      font-size: 14px;
      input {
        width: 100px;
      }
    }
  }
}

.sub-goods-list {
  width: 100%;
  @include g.myGrid($gap: 10rem 2rem);

  &:has(+ h3) {
    margin-bottom: 4rem;
  }

  li {
    > a {
      display: flex;
      flex-direction: column;
      gap: 12px;
    }

    .img-box {
      aspect-ratio: 2/3;

      img {
        width: 100%;
        height: auto;
      }
    }

    .text-box {
      display: flex;
      flex-direction: column;
      gap: 8px;
      font-weight: 400;

      .brand {
        font-size: 1.2rem;
        color: g.$sub-color2;
        font-weight: 300;
      }

      .title {
        strong {
          line-height: 1.4;
          font-size: 1.6rem;
          font-weight: 500;
          color: g.$main-color1;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          overflow: hidden;
        }
      }

      .sale-price {
        font-size: 2rem;
        color: g.$main-color1;
        font-size: 2rem;
      }

      span {
        &:has(+ del) {
          margin-right: 1.2rem;
        }
      }

      del {
        font-size: 1.4rem;
        color: g.$sub-color2;
      }

      .price {
        @include g.myFlex();

        .sale {
          color: g.$percent-color;
          font-size: 1.6rem;
        }
      }
    }
  }
}
