
@use '../../App.scss' as g;

.product-detail-wrap {
    @include g.myFlex($gap: 20px, $ai: flex-start);

    .detail-left {
        flex: 1;
        border: 1px solid skyblue;
        .product-detail-slide{
            width: 500px;
            object-fit: contain;
            aspect-ratio: 3/4;
            img{
                width: 100%;
                height: 100%;
            }
        }
    }

    .detail-right {
        width: 380px;
    }
}


