$main-color1: #000000;
$main-color2: #ffffff;
$percent-color: #EEBE81;
$sub-color1: #F2F2F2;
$sub-color2: #BABABA;
$sub-color3: #838383;
$sub-color4: #545454;
$sub-color5: #2C2C2C;

// 공통 사항 layout
.content-inner {
    max-width: 1440px;
    margin: 0 auto;
}

// header title
.section-title {
    font-size: 40px;
}

// 공통 mixin
@mixin myFlex($jc: space-between, $ai: center, $fw: null, $gap: 2rem) {
    display: flex;
    justify-content: $jc;
    align-items: $ai;
    flex-wrap: $fw;
    gap: $gap;
}

@mixin myGrid($gap: auto) {
    display: grid;
    gap: $gap;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}



.tab-ver1 {
    @include myFlex($gap: 0);

    li {
        flex: 1;
        line-height: 50px;
        border: 1px solid $main-color2;
        border-bottom-color: $sub-color3;
        text-align: center;

        &.active {
            border: 1px solid $main-color1;
            border-bottom-color: $main-color2;

            a {
                color: $sub-color3;
            }
        }

        a {
            font-size: 1.6rem;
            color: $sub-color1;
        }
    }
}

.App {
    &:has(main) {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
}

