$main-color1: #000000;
$main-color2: #ffffff;
$percent-color: #eebe81;
$sub-color1: #f2f2f2;
$sub-color2: #bababa;
$sub-color3: #838383;
$sub-color4: #545454;
$sub-color5: #2C2C2C;

// 공통 사항 layout
.content-inner {
    max-width: 1440px;
    margin: 0 auto;
}

// header title
.section-title {
    font-size: 40px;
}

// 공통 mixin
@mixin myFlex($jc: space-between, $ai: center, $fw: null, $gap: 2rem) {
    display: flex;
    justify-content: $jc;
    align-items: $ai;
    flex-wrap: $fw;
    gap: $gap;
}

@mixin myGrid($gap: auto) {
    display: grid;
    gap: $gap;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}


.App {
    &:has(main) {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
}