* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  /* min-height: 100vh; */
  line-height: 1;
  font-family: Pretendard, "돋움", sans-serif;
  font-size: 10px;
}

ol,
ul,
li {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

input,
button,
textarea {
  border: none;
  background: inherit;
  font-family: Pretendard, "돋움", sans-serif;
  outline: none;
  cursor: pointer;
}

img,
video {
  max-width: 100%;
  height: 100%;
  vertical-align: middle;
}